.welcome_message
  welcome
.coverpage_list
  
  .coverpage_dinner_list
    %ul
    - @restaurant.zip(@image) do |o,i|
      %li
      = link_to restaurant_path(o.id) do
        = image_tag i.image.url, class:"dinner1"
        %li.pro_name
          = o.restaurant_name

  .coverpage_midlle_price_list
    %p.price1
      price1
    %p.price2
      price2
    %p.price3
      price3
  .coverpage_genre_list
    %p.genre1
      genre1
    %p.genre1
      genre1
    %p.genre1
      genre1
  .coverpage_top_restaurants_list
    to