.welcome_message
  welcome
.coverpage_list
  
  .coverpage_dinner_list
    %p.dinner1
      dinner1
    %p.dinner2
      dinner2
    %p.dinner3
      dinner3
  .coverpage_midlle_price_list
    %p.price1
      price1
    %p.price2
      price2
    %p.price3
      price3
  .coverpage_genre_list
    %p.genre1
      genre1
    %p.genre1
      genre1
    %p.genre1
      genre1
  .coverpage_top_restaurants_list
    top