#header {
  height:80px;
  font-size: 35px;
  padding: 20px 0 0 100px;
	border-bottom: 1px solid black;

}

.mainHeader{
}
.header_user {
	font-weight: 800px;
	font-size: 20px;
	display:inline;	
  margin-left: 900px;
}



.gnav li li {
	height: 0;
	overflow: hidden;
	transition: .5s;
}
.gnav li li a {
	border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
	height: 2rem;
	overflow: visible;
}