  .wrapper_left_box{

    background-color: #F2F2F2;
    height : 1000px;
    width: 20%;
    float: left;
    margin-left: 180px;
    margin-TOP: 122px;
  }

.review_info{
  font-size: 30px;
  text-align: center;
  margin: 50px;
}

.price_info{
  font-size: 30px;
  text-align: center;
  margin: 50px;

}

.genre_info{
  font-size: 30px;
  text-align: center;
  margin: 50px;
}