.welcome_message{
  background-color: #3CCACE;
  width:700px;
  height: 100px;
  margin-left: 530px;
  text-align: center;
  line-height: 100px;
  justify-content: space-between;
  position: relative;
  margin-TOP: 50px;
  
  
}
  

.coverpage_list{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 330px;

        .coverpage_dinner_list{
            width: 700px;
            margin-left: 200px;
        
        .dinner_pics{
          height: 200px;
          width: 260px;
          margin-left: 20px;
          margin-top: 20px;
          background-color: blanchedalmond;
        }

        .coverpage_dinner_list_box{
          position: absolute;
          margin: 20px 0 0 30px;
          display: inline-block;
          height:200px;
          width:400px;

        &_name{
          font-weight: 800;
          font-size: 30px;
          margin-top: 10px;
        }
      
        &_address{
          font-size: 15px;
      }
        &_genre{
        }
    }
  }
}

