.welcome_message{
  background-color: #3CCACE;
  height: 100px;
  width: 50%;
  text-align: center;
  line-height: 100px;
  margin:0 auto;
  margin-TOP: 50px;
  font-size: 50px;
  
  
}
  

.coverpage_list{
background-color: #f2f2f2;
        .coverpage_dinner_list{
            margin-top: 20px;
            display: flex;
            width: 100vw;
            flex-direction: row;
            flex-wrap: wrap;
            
          
  
          
        .dinner_pics{
          margin:  20px 0 0 65px;  
          display:inline-block; 
          height: 200px;
          width: 260px;
          background-color: blanchedalmond;
       
        }

        .coverpage_dinner_list_box{
          background-color: white;
          margin: 20px 0 20px 0px;
          height:200px;
          width: 330px;

        &_name{
          font-weight: 800;
          font-size: 20px;
          margin-left: 10px;
          margin-top: 10px;
        }
      
        &_address{
          margin-left: 10px;
          font-size: 15px;
      }
        &_genre{
          // margin-left: 10px;
        }
    }
  }
}

