= render 'shared/header'

.row
  .col-md-3
    = render 'restaurants/res_menu'
  .col-md-9
    .panel.panel-default
      .panel-heading
        èª¬æ˜
      .panel-body
        = form_with model: @restaurant do |f|