= render 'shared/header'

.row
  .col-md-3
    = render 'restaurants/res_menu'
  .col-md-9
    .panel.panel-default
      .panel-heading
        営業時間　祝日　入力
      .panel-body
        = form_with model: @restaurant, local: true do |f|
          ランチ営業開始時間
          #datetimepicker3.input-group.date
            %input.form-control{:type => "text"}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-time

          ランチ営業終了時間
          #datetimepicker3.input-group.date
            %input.form-control{:type => "text"}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-time
              

          ディナー営業開始時間
          #datetimepicker3.input-group.date
            %input.form-control{:type => "text"}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-time
              

          ディナー営業終了時間
          #datetimepicker3.input-group.date
            %input.form-control{:type => "text"}/
            %span.input-group-addon
              %span.glyphicon.glyphicon-time

          .text-center
            = f.submit "追加", class: "btn btn-form"