@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

@import "index/top";

@import "shared/header";

@import "restaurant";
@import "show";
@import "reset";
@import "new";
@import "review";
@import "mypage/index";


@import "jquery.raty";

@media screen and (max-width: 499px) { 
  /*　画面サイズ 499pxまで適用　*/
  .content {color: #red;}
}
@media screen and (min-width: 500px) and (max-width: 999px) {
  /*　画面サイズ 500pxから999pxまで適用　*/
  .content {color: #green;}
}
@media screen and (min-width:1000px) {
  /*　画面サイズ 1000px以上から適用　*/
  .content {color: #blue;}
}