
.restaurant-show{
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  
}

.restaurant-show-box{
   margin-left: 250px;
   margin-top: 50px;
}


.restaurant-show-name {
  background-color: #3CCACE;
  margin: 20px 320px 0 20px;
  padding-left: 20px;
  font-size: 40px;
  font-weight:800;
  width: 900px;

  
}
.restaurant-show-name-content{
  margin-left: 20px;
  margin-right: 320px;
  background-color: white;
  width: 900px; 
  font-size: 20px;
  
}

.restaurant-show-name-content-1{
  display: inline-block; 
}
.restaurant-show-name-content-2{
  display: inline-block;  
  width: 15px;       
}

.restaurant-show-name-content-3{
  display: inline-block;   
  margin:0 0 0 650px;
  
  
}


.restaurant-show-name-content-horiday{
  margin-left: 3px;
}

.restaurant-show-name-content-pics{
  width: 1000px;
  height: 450px;
  margin-left: 20px;

    &_1{
      width: 670px;
      height: 500px;
    display: inline-block;
    margin-top: 2px;
    }
    &_2{
      width: 230px;
      height: 122px;
      float: right;
      margin-right :100px;
    }
}

.restaurant-show-name-content-pics_3{
  margin: 2px;
  background-color: white;
}


.restaurant-show-name-content-other {
  display: flex; 
  justify-content: left;
  margin: 50px;

}

.restaurant-show-name-content-menu{
  font-weight:800;
  font-size: 15px;
  width: 300px;
  &_describe{
    background-color: white;
    width: 900px;
    height: 330px;
    margin: 15px;
   
  }
}

.restaurant-show-name-content-describe{
  width: 600px;
}





.restaurant-show-menu_other_map{
  width: 900px;
  margin-left: 20px;
  list-style-type: none;
}

.restaurant-show-name-content-menu_other{
  font-weight:800;
  font-size: 15px;
  text-align: center;
}

.restaurant-show-name-content-list{
  height: 330px;
  padding: 5px 0 0 5px;
  margin: 0 5px 0 0;
  background-color: white;
  font-weight:800;
  font-size: 15px;
  width: 300px;
  text-align: center;
  display: inline-block;
  float: left;  
}


.restaurant-show-name-content-list li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;

}

.restaurant-show-name-content-list .text-line-through {
  text-decoration: line-through;
  color: rgba(0,0,0,0.45);
  font-size: 14px;
 
}

.restaurant-show-name-content-map{
  margin-left: 35px;
  display: inline-block;
}